<div class="json_response">

    <div class="row">
        <div class="col-left">
            <h6 class="service_name">1. Company name:</h6>
        </div>
        <div class="col-right">
            <p>{{ company_name }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-left">
            <h6 class="service_name">2. Number of approved transactions:</h6>
        </div>
        <div class="col-right">
            <p>{{ number_approved_transactions }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-left">
            <h6 class="service_name">3. Number of rejected transactions:</h6>
        </div>
        <div class="col-right">
            <p>{{ number_rejected_transactions }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-left">
            <h6 class="service_name">4. Date of maximum number of transactions:</h6>
        </div>
        <div class="col-right">
            <p>{{ date_max_n_transactions }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-left">
            <td><h5 class="service_name">Json response</h5></td>
        </div>
        <div class="col-right">
            <form action="{% url 'json_company_transactions' company_id %}" method="get">
                <td><button class="btn btn-outline-success btn-get" type="submit">Get</button></td>
            </form>
        </div>
    </div>

</div>