{% extends "_base.html" %}
{% load static %}

{% block title %}Plerk API{% endblock title %}

{% block content %}
    <h1>plerk RESTful API</h1>
    <h5>with Python/Django</h5>

    <div class="services">
        <h3>Dataset</h3>
        <a href="{% static 'datasets/test_database.csv' %}" style="text-decoration:none">
            <button class="btn btn-success btn-dataset">Original CSV</button>
        </a>
        <a href="{% url 'company_dataset' %}" style="text-decoration:none">
            <button class="btn btn-secondary btn-dataset">Company List</button>
        </a>
        <a href="{% url 'transaction_dataset' %}" style="text-decoration:none">
            <button class="btn btn-secondary btn-dataset">Transaction List</button>
        </a>
    </div>

    <div class="services">
        <h3>Services</h3>

        <div class="row">
            <div class="col-left">
                <td><h5 class="service_name">1. General Summary</h5></td>
            </div>
            <div class="col-right">
                <form action="{% url 'summary_overview' %}" method="get">
                    <td><button class="btn btn-outline-success btn-get" type="submit">See</button></td>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-left">
                <td><h5 class="service_name">2. Company Transactions</h5></td>
            </div>
        </div>

        <div class="row">
            <div class="col-left">
                <form class="company-id-form" action="{% url 'company_transactions' company_id %}" 
                method="post">
                    {% csrf_token %}
                    <td>
                        <input type="text" placeholder="Type company ID" name="company_id" 
                        maxlength="8" class="service_name_input" autofocus>
                    </td>  
                </div>
                <div class="col-right">
                    <button class="btn btn-outline-success btn-input" type="submit">See</button>   
                </div>
            </form>  
        </div>

        <div class="row">
            <div class="col-left">
                <td><h5 class="service_name">3. Top 10 Companies with The Mayor Transactions</h5></td>
            </div>
            <div class="col-right">
                <form action="{% url 'top_10_transactions' %}" method="get">
                    <td><button class="btn btn-outline-success btn-get" type="submit">See</button></td>
                </form>
            </div>
        </div>

    </div>
{% endblock content %}